#MealName{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 20px;
    width: 400px;
    margin-left: 100px;
}
.meals{
    background-color: white;
    padding: 10px;
    text-align: center;
}

.meals img{
    width: 200px;
    
}
.foods-name{
    font-size: 20px;
    font-weight: bold
    
}
#mealsDetails{
    
    text-align: center;
    background-color: lightgray;
    width: 300px;
    margin-left:500px;
    margin-bottom: 50px;
    margin-top:50px;
}
#mealsDetails img{
    width: 300px;
}